<!DOCTYPE html>
<html>
<head>
    <title>Quote Generator</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script defer src="/javascripts/script.js"></script>
</head>
<body>
    <div id="quote-container">
        <div class="quote-content"><%= quote %></div>
        <a class="button" href="/">Next Quote!</a>
    </div>
</body>
</html>
